*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  display: grid;
}

.board{
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 50px 50px 50px 50px;
  grid-template-areas: 
  "a ."
  "c d"
  "c ."
  ;
}

.board-row {
  grid-column: c;
  display: flex;
}
.Player {
  /* display: flex; */
}

.square {
  width: 50px;
  height: 50px;

  /* padding: 20px; */
  /* font-size: 1em; */
}

.game-status {
  grid-area: d;
}